body{
    margin: 0;
	font-family: 'Roboto', sans-serif;
}

#navbar-fides{
    color: white;
    background-color: black;
    text-justify: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}
.nav-item-fides{
	margin: 10px;
	font-size: 1.5em;
	font-weight: bold ;
}


.background {
    background:url('../img/bg/diagonalnoise.png');
    position: relative;
}


.home {
	overflow: hidden;
  	background: url(img/sancoro-seguridad-privada-1038x576.jpg) top center no-repeat rgb(255, 197, 0, 0.75);
	background-size: cover;
	z-index: 0;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px 1px 2px #111;
}

.home-capa{
	padding-top: 140px;
	padding-bottom: 80px;
	background: rgb(255, 197, 0, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home h1{
    color: #111;
}

.home-div-lista{
	margin: auto;
  	width: 70%;
}

.home p{
	margin-bottom: 30px;
	max-width: 600px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #111;
}

ul.home-lista {
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: #111;
}

ul.home-lista li {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #111;
}

ul.home-lista li i {
    font-size: 26px;
    line-height: 30px;
    margin-right: 5px;
    color: #111;
}

.info-extra{
	background-color: #111;
	text-shadow: 0px 1px 2px #fff;
	padding-top: 140px;
	padding-bottom: 80px;
	text-align: right;
}

.info-extra p{
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
	text-align: right;
	margin-bottom: 25px;
    letter-spacing: 1px;
}

.info-extra h1{
	color: #fff;
	margin-bottom: 30px;
}

.info-extra-interior{
	width: 70%;
	margin: auto;
}

.footer-datos{
	background-color: black;
	color: #fff;
	display: flex;
	flex-direction: row;
	padding: 50px;
	text-align: center;
	justify-content: space-around;
}
.footer-datos h1{
	font-size: 1.5em;
	font-weight: 700;
}
.footer-datos h2{
	font-size: 1.2em;
}

.footer-datos a:link {
	color: #ccc;
}
  
.footer-datos  a:visited {
	color: #ccc;
}

.footer-datos a:hover {
	color: #ddd;
}
  
a:active {
	color: #ccc;
}

.footer-contacto{
	size: 30%;
	padding-bottom: 50px;
}

.footer-sobre-nosotros{
	size: 30%;
}
.gris{
	color: #ccc;
}

.footer-derechos{
	padding: 50px;
	text-align: center;
}

.footer-derechos{
	background-color: black;
}

.quienes-somos-home-1{
	background-color:rgb(255, 197, 0);
	display: flex;
	padding: 100px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px 1px 2px #111;
	color: #111;
}

.quienes-somos-home h1{
	font-size: 1.5em;
	font-weight: 700;
}

.quienes-somos-home p{
	font-size: 1.3em;
}

.quienes-somos-home-1-frame-youtube{
	width: 50%;
}
.quienes-somos-home-1-frame-youtube iframe{
	width: 100%;
    height: 44vh;
    border: none;
    margin: 0.8rem 0;
}

.quienes-somos-home-1-info{
	width: 35%;
}

.quienes-somos-home-2{
	background-color: #111;
	text-align: center;
	color: #fff;
	padding: 100px;
}

.form-contacto{
	background-color: rgb(255, 197, 0);
	color: #111;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px 1px 2px #111;
	padding: 80px;
}
.form-contacto h1{
	color: #111;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
}

.form-contacto input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
}

.form-contacto input[type=submit] {
	background-color: #111;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  

.form-contacto  input[type=submit]:hover {
	background-color: #333;
}

.mas-info{
	background-color: rgb(255, 197, 0);
	color: #111;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px 1px 2px #111;
	padding: 80px;
}

.mas-info h1{
	color: #111;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
}

.mas-info-titulo{
	margin: 30px;
}

.mas-info-container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	padding: 20px;
}

.mas-info-carta {
	width: 100%;
	height: 100%;
	background-color: #111;
	color: #fff;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	text-align: center;
}
  

.mas-info-carta:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	transform: scale(1.05);
}

.mas-info-carta img{
	width:100%;
	max-height: 70%
}

.mas-info-carta-container{
	margin-top: 20px;
}

@media (min-width: 992px) {
	#navbar-fides{
		padding-left: 150px;
	}
}

@media (max-width: 992px) { 
	#navbarNav{
		margin-top: 25px;
	}
	.footer-datos{
		flex-direction: column;
	}
	.footer-contacto{
		size: 70%;
	}
	.footer-sobre-nosotros{
		size: 70%;
	}

	.quienes-somos-home-1{
		flex-direction: column;
		padding: 50px;
	}

	.quienes-somos-home-1-frame-youtube{
		width: 70%;
		margin-top: 100px;
	}
	.quienes-somos-home-1-info{
		width: 70%;
	}

	.mas-info-container{
		grid-template-columns: auto auto;
	}

}


@media (max-width: 768px) {
	.quienes-somos-home-1-frame-youtube{
		width: 90%;
		
	}
	.quienes-somos-home-1-info{
		width: 90%;
		margin-top: 70px;
		margin-bottom: 50px;
	}
	.mas-info-container{
		grid-template-columns: auto;
	}
}


@media (max-width: 576px) {

}

@media (min-width: 768px) { }



